APK_SSH_HOST=108.174.149.91
APK_SSH_PORT=22022
APK_SSH_USER=root
APK_REMOTE_PATH=/var/www/html/viagens-app
APK_PUBLIC_URL=https://api-viagens.upyouridea.com.br/viagens-app/viagens-by-up-your-idea-public-preview.apk
